@media screen and (min-width: 455px) {
  .content-width {
    width: 440px;
  }

  .page-height-desktop {
    height: 100vh;
  }
}

@media screen and (min-width: 1280px) {
  .content-width {
    width: 560px;
  }
}
