body {
  background-color: #f5fdff;
  font-family: Lato, sans-serif;
  font-weight: 400;
  margin-bottom: 3.5rem;
}

button,
i {
  cursor: pointer;
}

.bubble {
  border-radius: 50%;
  background-color: white;
  box-shadow:
    inset 0 1px 5px white,
    inset 10px 10px 25px rgb(174, 156, 251, 0.5),
    inset 0 10px 10px rgb(229, 205, 253, 0.5),
    inset 0 -5px 30px rgb(9, 202, 240, 0.3);
}

.large-bubble {
  height: 18.75rem;
  width: 18.75rem;
}

.page-height-mobile {
  min-height: calc(100vh - 3.5rem);
}

img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-family: ABeeZee, sans-serif;
}

h3 {
  font-family: "Bubblegum Sans", cursive;
}

.app-logo {
  font-family: "Bubblegum Sans", cursive;
  font-size: 5rem;
}

.form-ta-size {
  height: 13.375rem;
}

.text-grey {
  color: #cfd4d9;
}

.post-text-div {
  border: 1px solid #dce4e6;
  border-radius: 4px;
}

.bg-blue {
  background-color: #f5fdff;
}

@media screen and (min-width: 768px) {
  body {
    margin-bottom: 0;
  }

  .side-nav {
    top: 0;
    left: 0;
    right: unset;
    bottom: unset;
    background-color: #f5fdff !important;
    width: 15vw;
    border-right: 1px solid #cfd4d9;
    height: 100vh;
    position: fixed;
  }

  .desktop-column {
    flex-direction: column !important;
  }

  .desktop-border {
    border-right: 1px solid #cfd4d9;
    border-left: 1px solid #cfd4d9;
  }

  .right-bubbles {
    width: 15vw;
    border-left: 1px solid #cfd4d9;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
  }

  .ul-desktop-height {
    height: 250px;
  }
}
