body {
  background-color: #f5fdff;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.bubble {
  height: 18.75rem;
  width: 18.75rem;
  border-radius: 50%;
  background-color: white;
  box-shadow:
    inset 0 1px 5px white,
    inset 10px 10px 25px rgb(174, 156, 251, 0.5),
    inset 0 10px 10px rgb(229, 205, 253, 0.5),
    inset 0 -5px 30px rgb(9, 202, 240, 0.3);
}

h1 {
  font-family: ABeeZee, sans-serif;
}

/* font-family: 'ABeeZee', sans-serif;
font-family: 'Bubblegum Sans', cursive;
font-family: 'Lato', sans-serif;
*/
